@black: #555555;
@blackDark: #333333;
@blue: #103C67;
@blueLight: #366592;
@blueDark: #021C34;
@gray: #BABABA;
@grayLight: #D6D6D6;
@grayMed: #A2A2A2;
@green: #07704B;
@greenLight: #309773;
@white: #E7E7E7;

/*
  Base colors
*/
@blueBase: @blueDark;
@colorBase: @black;

/*
  Links
*/
@activeMenuColor: @grayMed;
@linkColor: @blueLight;
@linkColorHover: @greenLight;
@linkColorActive: @blueBase;
@linkTextColorHover: @linkColor;
@solidLinkText: @gray;
@solidLinkTextHover: @gray;
