@black: 								#555555;
@blackDark: 						#333333;
@blue:									#103C67;
@blueLight: 						#366592;
@blueDark: 						#021C34;
@gray: 									#BABABA;
@grayLight: 						#D6D6D6;
@grayMed: 							#A2A2A2;
@green:       					#07704B;
@green-light: 					#309773;
@green-dark:  					#003C27;
@white:									#E7E7E7;

/*
  Base colors
*/
@blue-base:							@blueDark;
@color-base: 						@black;

/*
  Links
*/
@active-menu-color:			@grayMed;
@link-color: 						@blueLight;
@link-color-hover: 			@green-light;
@link-color-active:			@blue-base;

@link-text-color: 			@gray;
@link-text-color-hover: @link-color;

@solid-link-text: 			@gray;
@solid-link-text-hover: @gray;
