@import url("variables.less");

#fullpage {
	margin-left: @pageMargin;
	.fp-tableCell{
		height: 100%!important;
		padding: 0;
		text-align: center;
	}

	@media @phoneTablet {
		border-left: 0px;
		margin-left: @menu-hidden-width;
	}
	@media @desktop {
		margin-left: @pageMarginLG;
	}
	&:first-child{
		@media @phoneTablet{
			h1{
				margin-bottom: @marginSM;
			}
			h1, h3{
				text-align: center!important;
			}
		}
	}
}
