@import url("variables.less");
@import url("mixin.less");

ul {
	list-style-type: square;
	margin:0;
	padding: 0;
}
li {
	font-size: @fontBase;
	text-align: left;
	margin: 0px;
	@media @phone{
		font-size: @fontXS;
	}
}
.list{
	margin-left: @marginLG;
}
