@import url("colors.less");
@import url("containers.less");
@import url("fullpage.less");
@import url("links.less");
@import url("lists.less");
@import url("mixin.less");
@import url("type.less");
@import url("variables.less");

/*
	BODY
*/
html {
	background-color: @blueBase;
	&:after{
		background-image: url('img/loading.gif');
		background-repeat: no-repeat;
		background-position: center center;
		color: @white;
		content: 'Loading...';
		font-size: 1rem;
		line-height: 2.5rem;
		height: 100vh;
		left: 0;
		opacity: 1;
		position: absolute;
		text-align: center;
		top: 0;
		.transition(@fadeSpeed);
		width: 100vw;
	}
}
html.loaded {
	&:after{
		background-image: none;
		content: '';
		opacity: 0;
	}
}
html, body {
	color: @blackDark;
	font-size: 100%;
	height: 100%;
	margin: 0;
	overflow-x:hidden!important;
	padding: 0;
	.sans();
}
body{
	display: block;
}
html{
	overflow-y: visible!important;
}
body,.subpage{
	.animation-duration(@fadeSpeed);
	.animation-name(fadeIn);
}

/*
	EFFECTS
*/
.move-li{
	margin: @marginSM;
	.transition(1s)!important;
}

/*
	FOOTER
*/
.footer{
	display: block;
	float: left;
	padding: @padXL 0 0 0;
	width: 100%;
}

/*
	IE
*/
.ie6 body {
	display: none;
}
.ie7 body {
	display: none;
}

/*
	KEYFRAMES
*/
.fadeIn{
	0% {
		display:none;
		.opacity(0);
	}

	1% {
		display: block ;
		.opacity(0);
	}

	100% {
		display: block ;
		.opacity(1);
	}
}
@-webkit-keyframes fadeIn {
	.fadeIn;
}
@-moz-keyframes fadeIn {
	.fadeIn;
}
@keyframes fadeIn {
	.fadeIn;
}
.bouncing{
	0%, 20%, 50%, 80%, 100% {
		.transform(translateY(0));
	}
	40% {
		.transform(translateY(-30px));
	}
	60% {
		.transform(translateY(-15px));
	}
}
@-webkit-keyframes bounce {
	.bouncing;
}
@-moz-keyframes bounce {
	.bouncing;
}
@keyframes bounce {
	.bouncing;
}

/*
	LAYOUT
*/
.loading{
	margin: 0 auto;
	.opacity(1);
	text-align: center;
	h4, h5{
		border:0px;
		color: @gray;
		margin: @marginLG auto;
		text-align: center;
	}
}
.page-header{
	h1, h2{
		margin: 0px;
	}
}

/*
	MISC
*/
.emph{
	font-weight: bold;
	&.emphasize{
		.opacity(0.5);
		.transition(@fadeSpeed);
	}
}
.clearfix{
	clear: both;
}
.scroll-to{
	position:absolute;
	bottom: 0;
	left: 0;
	display: block;
	float: left;
	width: 100%;
	text-align: center;
	z-index: 1030;
	a{
		color: @blueVeryLight;
		font-size: @fontXL;
		cursor: pointer;
		.hover-text();
		@media @phoneTablet and (orientation:landscape) {
			font-size: @fontMD;
		}
	}
	&.bounce{
		.opacity(1)!important;
		.animation-duration(1s);
		.animation-name(bounce);
	}
}
.hidden{
	display: none;
}
.visible{
	.opacity(1)!important;
	.transition(@fadeSpeed);
}
.vertical-align{
	display: block;
	float: left;
	margin-bottom: @marginSM;
	position: relative;
	width: 100%;
	@media @minTablet{
		display: table;
		width: 100%;
		.half{
			display: table-cell;
			float: none!important;
			padding: @padSM;
			vertical-align: middle;
		}
	}
}


/*
	SVG
*/
svg{
	max-height: 50vh;
	max-width: 100%;
	.opacity(0);
	.transition(@fadeSpeed);
	path, polyline{
		stroke: @gray;
		stroke-width: @borderSM;
	}
}
.active{
	svg{
		.opacity(1);
	}
}
.svg-container, .puppy-img{
	margin: 0 auto;
	width: 25%;
	svg{
		margin: auto;
	}
	@media @phoneTablet{
		width: 40%;
	}
}


/*
	About
*/
.web-skills{
	float: none;
	line-height: @fontBase*1.6;
}
.email-project{
	.btn;
	margin-left: 0px;
	margin-top: @marginLG;
}

/*
	EDUCATION
*/
.education.active{
	&:before, &:after{
		width: 50%;
	}
}
.education{
	position: relative;
	z-index: 500;
	&:before, &:after{
		background-image: url(/img/brain.svg);
		background-position: center right;
		background-repeat: no-repeat;
		background-size: auto 70%;
		content: '';
		height: 100%;
		.opacity(0.3);
		position: absolute;
		.transition(@fadeSpeedSlow);
		top: 0;
		width: 30%;
		z-index: -1;
	}
	&:before{
		left: 0;
	}
	&:after{
		.transform(rotateY(180deg));
		right: 0;
	}
	.half{
		position: relative;
	}
	h2, h4, h5{
		position: relative;
	}
	h2{
		margin: 0px;
		text-align: right;
	}
	@media @phoneTablet{
		&:before, &:after{
			background-size: auto 50%;
		}
		h2{
			text-align: center;
		}
	}
}

/*
	SKILLS
*/
.skills-list{
	font-size: 0;
	list-style: none;
	margin: 0 auto;
	max-width: 1100px;
	padding: 0 @padLG;
	li{
		display: inline-block;
		margin: @marginXS;
	}
}
.skills-link{
	background-color: @grayLight;
	display: block;
	padding: @padXS;
	text-align: center;
	span{
		margin: 0 auto;
	}
	&:hover {
	 background: none!important;
	}
	&.emphasize{
		background: none!important;
		color: @linkColorHover!important;
	}
}
