@import "mixin.less";
@import "colors.less";
/*VARIABLE*/
	@fadeSpeed: 0.5s;
	@maxWidth: 620px;
	@menu-hidden-width:0px;	
	/*font size*/
		@font-xl:	2.9rem;
		@font-l:	2.4rem;
		@font-m:	2.0rem;
		@font-s: 	1.7rem;
		@font-base: 1.4rem;
		@font-xs: 	0.9rem;
	/*padding*/
		@padXS: 7px;
		@padSM: 10px;
		@padMD: 15px;
		@padLG: 20px;
		@padXL: 30px;
	/*margin*/
		@marginXS: 5px;
		@marginSM: 10px;
		@marginMD: 15px;
		@marginLG: 20px;
		@marginXL: 30px;		
	/*border*/
		@borderSM: 2px;
		@borderMD: 4px;
		@borderLG: 10px;
	/*misc*/
		@arrowWidth: 15px;
		@sectionHeader: @font-l*1.5;
	/*keyframes*/
		/*fade from right*/
			.fadeRight{
				0% {
					display:none; 
					.opacity(0);
					left: 100%;
			    }

			    1% {
					display: block ; 
					.opacity(0);
			    }

			    100% {
					display: block ; 
					.opacity(1);
					left: 0;
			    }			
			}
			@-webkit-keyframes fadeInFromRightNone {
				.fadeRight;
			}
			@-moz-keyframes fadeInFromRightNone {
				.fadeRight;
			}
			@keyframes fadeInFromRightNone {
				.fadeRight;
			}	
		/*fade from left*/
			.fadeLeft{
				0% {
					display:none; 
					.opacity(0);
					left: -100%;
			    }

			    1% {
					display: block ; 
					.opacity(0);
			    }

			    100% {
					display: block ; 
					left: 0;
					.opacity(1);
			    }				
			}
			@-webkit-keyframes fadeInFromLeftNone {
				.fadeLeft;
			}
			@-moz-keyframes fadeInFromLeftNone {
				.fadeLeft;
			}
			@keyframes fadeInFromLeftNone {
				.fadeLeft;
			}				
		
		/*bounce*/
			.bouncing{
				0%, 20%, 50%, 80%, 100% {
			    	.transform(translateY(0));
				}
				40% {
			   		.transform(translateY(-30px));
				}
				60% {
					.transform(translateY(-15px));
				}				
			}
			@-webkit-keyframes bounce {
				.bouncing;
			}
			@-moz-keyframes bounce {
				.bouncing;
			}
			@keyframes bounce {
				.bouncing;
			}

	/*screens*/
		@phone: 			~"screen and (max-width: 479px)";
		@phoneTablet: 		~"screen and (max-width: 768px)";
		@tablet: 			~"screen and (min-width: 480px) and (max-width: 768px)";
		@desktop: 			~"screen and (min-width: 769px)";
/*BODY*/
	html, body {
		margin: 0;
		padding: 0;
		background: @blue-base;
		.sans();
		height: 100%;
		overflow-x:hidden!important;
		.txt-light-bg;
		font-size: 100%;
	}
/*CONTAINERS*/
	.third{
		width: 33.333%;
		float: left;
		display: inline-block;
		text-align: center;
	}
	.half{
		width: 50%;
		display: inline-block;
		float: left;
		@media @phoneTablet {
			width: 100%;
			display: inline-block;
			float: left;
			text-align: center;			
		}
	}
	.span_half{
		width: 50%;
		display: inline-block;
		float: left;
	}
	.container{
		display: none;
	}
	.box-gray{
		.txt-light-bg;
		background: @gray;
		margin: @marginMD;
		padding: @padSM;
		display: block;
	}
/*FONTS*/
	/*color*/
		.txt-dark-bg{
			h1{
				color: @gray;
			}
			h2{
				color: @gray-med;
			}
			h3{
				color: @gray;
			}
			h4{
				color: @gray-med;
			}
			p{
				color: @white;
			}
			li{
				color: @white;
			}
		}
		.txt-light-bg{
			h1{
				color: @black;
			}
			h2{
				color:@black-dark;
			}
			h3{
				color:@blue-base;
			}
			h4{
				color:@black-dark;
			}
			p{
				color:@color-base;
			}
		}
	/*type*/
		@font-face {
			font-family: 'otama.epregular';
			src: url('/fonts/otama/Otama-ep-webfont.eot');
			src: url('/fonts/otama/Otama-ep-webfont.eot?#iefix') format('embedded-opentype'),
					url('/fonts/otama/Otama-ep-webfont.woff') format('woff'),
					url('/fonts/otama/Otama-ep-webfont.ttf') format('truetype'),
					url('/fonts/otama/Otama-ep-webfont.svg#otama.epregular') format('svg');
			font-weight: normal;
			font-style: normal;
		}
		.serif(){
			font-family: "otama.epregular", Times New Roman, Times, serif;
		}
		@font-face {
			font-family: 'roboto-regular';
			src: url('/fonts/roboto/roboto_regular_macroman/Roboto-Regular-webfont.eot');
			src: url('/fonts/roboto/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
					url('/fonts/roboto/roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff'),
					url('/fonts/roboto/roboto_regular_macroman/Roboto-Regular-webfont.ttf') format('truetype'),
					url('/fonts/roboto/roboto_regular_macroman/Roboto-Regular-webfont.svg#robotoregular') format('svg');
			font-weight: normal;
			font-style: normal;
		}		
		.sans{
			font-family: "roboto-regular",Helvetica, Arial;
		}
		@font-face {
			font-family: 'roboto-bold';
			src: url('/fonts/roboto/roboto_bold_macroman/Roboto-Bold-webfont.eot');
			src: url('/fonts/roboto/roboto_bold_macroman/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
					url('/fonts/roboto/roboto_bold_macroman/Roboto-Bold-webfont.woff') format('woff'),
					url('/fonts/roboto/roboto_bold_macroman/Roboto-Bold-webfont.ttf') format('truetype'),
					url('/fonts/roboto/roboto_bold_macroman/Roboto-Bold-webfont.svg#robotobold') format('svg');
			font-weight: bold;
			font-style: normal;
		}	
		.sans-light{
			font-family: "roboto-light",Helvetica,Arial;
		}
		@font-face{
			font-family: 'roboto-light';
			src: url('/fonts/roboto/roboto_light_macroman/Roboto-Light-webfont.eot');
			src: url('/fonts/roboto/roboto_light_macroman/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
					url('/fonts/roboto/roboto_light_macroman/Roboto-Light-webfont.woff') format('woff'),
					url('/fonts/roboto/roboto_light_macroman/Roboto-Light-webfont.ttf') format('truetype'),
					url('/fonts/roboto/roboto_light_macroman/Roboto-Light-webfont.svg#robotlight') format('svg');
			font-weight: bold;
			font-style: normal;
		}
		.sans-bold{
			font-family: "roboto-bold",Helvetica, Arial;
		}
		@font-face {
			font-family: 'roboto-med';
			src: url('/fonts/roboto/roboto_medium_macroman/Roboto-Medium-webfont.eot');
			src: url('/fonts/roboto/roboto_medium_macroman/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
					url('/fonts/roboto/roboto_medium_macroman/Roboto-Medium-webfont.woff') format('woff'),
					url('/fonts/roboto/roboto_medium_macroman/Roboto-Medium-webfont.ttf') format('truetype'),
					url('/fonts/roboto/roboto_medium_macroman/Roboto-Medium-webfont.svg#robotomedium') format('svg');
			font-weight: bold;
			font-style: normal;
		}		
		.sans-med{
			font-family: "roboto-med",Helvetica, Arial;
		}
	/*headers & paragraph*/
		h1{
			.serif;
			text-align: center;
			font-size: @font-xl;
			line-height: @font-xl*1.1; 
			margin: @marginSM auto;
			@media @phoneTablet{
				margin: @marginXS auto;
			}		
		}
		h2{
			.sans-light;
			font-size: @font-l;
			line-height: @font-l*1.1;
			text-align: center;
			margin: @marginSM auto;
			@media @phoneTablet{
				margin: @marginXS auto;
			}		
		}
		h3{
			.serif;
			font-size: @font-m;
			line-height: @font-m;
			text-align: center;
			margin: @marginMD auto;
			@media @phoneTablet{
				margin: @marginXS auto;
			}		
		}
		h4 {
			.sans-med;
			font-size: @font-s;
			line-height: @font-s*1.1;
			text-align: left;
			margin: 0 auto @marginSM auto;
			@media @phoneTablet{
				margin: @marginXS auto;
				text-align: center;
			}
		}
		p{
			.sans-light;
			color:@gray;
			text-align: left;
			margin: @marginSM auto;
			font-size: @font-base;
			line-height: @font-base*1.1;
			@media @phone{
				font-size: @font-xs;
				line-height: @font-xs*1.1;
				margin: @marginXS auto;
			}
		}
		.mini{
			font-size: @font-xs;
			text-align:center!important;
			color: @gray;
		}
		.section-header{
			width: 100%;
			background: @blue-base;
			.sans-light;
			color: @blue-base;
			font-size:  @font-l;
			text-align: center;
			position: absolute;
			top: 0px;
			left: 0px;
			z-index: 1020;
			height: @sectionHeader;
			line-height: @sectionHeader;
			.transition(0.5s);
			@media @phone{
				text-align: left;
			}
			&.vis{
				color: @gray;
			}
		}		
	/*text align*/
		.centered {
			text-align: center !important; 
		}
		.txt_left {
			text-align: left !important; 
		}
		.txt_right {
			text-align: right !important;
			h1,h2,h3,h4,p{
				text-align: right!important;
			}
			@media @phoneTablet {
				text-align:left!important;
			}
		}
/*FOOTER*/
	.footer{
		.thumbnail{
			width: auto;
			a{
				float: left;	
			}
			
		}
	}
/*FULL PAGE*/
	#fullpage {
		/*left: 100%;*/
		margin-left: 10%;
		@media @phoneTablet {
			margin-left: @menu-hidden-width;
			padding: 0px!important;		
			border-left:0px;	
		}
		border-left:10px solid @blue-base;
		.section{
			.transition(@fadeSpeed);
			position: relative;
			background-color: @white;
			&:first-child{
				h1,h2,h3,h4,p{
					text-align:center;
				}
				.imagepop{
					background: none;
				}
				.scroll-to{
					.opacity(0);
				}
				background-color: @blue-base;
				.txt-dark-bg;
			}
			&:last-child{
				background:@blue-base;
				.txt-dark-bg;
			}	
		}
		.fp-tableCell{
			position: relative;
			text-align: center;
			padding: 0px @arrowWidth*3;
			@media @phone{
				padding: 0px @padSM;
			}
			@media @tablet {
				padding: 0px @padLG;
			}
		}	
	}
	.subpage{
		position: relative;
		.animation-duration(1s);
		.animation-name(fadeInFromRightNone);
	}
	/*fp-nav*/
		#fp-nav{
			z-index: 1000;
			left: 0px!important;
			margin-top: auto!important;
			top:auto;
			bottom:0px;
			.transition(@fadeSpeed);
			position: fixed;
			width: 10%;
			span,span.active{
				border:0px;
				width: 100%;
				background: none!important;
			}
			li{
				.sans-light;
				.animation-duration(1s);
				.animation-name(fadeInFromLeftNone);
				width: 100%!important;
				border:0px!important;
				margin: @marginSM 0px!important;
				height: @font-xs*1.5!important;
				overflow: hidden;
				&:last-child{
					display: none!important;
				}
				@media @phoneTablet{
					width: 50%!important;
					margin: @marginXS 0px!important;
				}
			}
			a{
				font-size: @font-xs;
				.solid-link;
			}
			span{
				border:0px!important;
				width: 100%!important;
				height: 100%!important;
				top: 0!important;
				left: 0!important;
			}			
			@media @phoneTablet {
				margin-top: 0px;
				bottom: 1px;
				width: 0%;
				overflow: hidden;
				li{
					width: 45%;
					clear: none;
					margin:@marginSM 0px;
					display: inline-block;
					float: left;
					&:nth-child(even){
						float: right;
					}
					&:last-child{
						margin-bottom: 0px!important;
					}
				}
				a{
					overflow: hidden;
				}				
				.active{
					border: 0px;
				}
			}
		}
		@media @phoneTablet {
			.page_menu_visible{
				width: 70%!important;
			}			
		}
		/*hover*/
			.fp-section-title{
				display: none!important;
			}
	/*slides*/
		.slide{
			&:nth-child(1){
				.imagepop{
					background: none;
				}
				/*h4{
					text-align: center;
				}*/
			}
			&:not(:first-child){
				.txt-light-bg;
				background:@white;
			}
			.scroll-to{
				bottom: 40px;
			}
		}	
	/*fp-slidesNav*/
		.fp-slidesNav{
			margin-left: auto!important;
			margin-right: auto;
			left: 0;
			right: 0;
			bottom: 10px;
			ul{
				text-align: center;
				li{
					width: 15px!important;
					height: 15px!important;	
					margin: 0 @marginSM;				
					span{
						border:1px solid @link-color!important;
						background: @link-color!important;
						border-radius: 0px!important;	
						width: 15px!important;
						height: 15px!important;
						&:hover{
							.transition(@fadeSpeed);
							border:1px solid @link-color-hover!important;
							background: @link-color-hover!important;
						}			
					}
				}
			}
			.active{
				span{
					background: @link-color-active!important;
					cursor: default;
				}
			}
			@media @phoneTablet {
				bottom: 0px;
			}
		}
	/*slides arrows*/
		.fp-controlArrow{
			width: 0;
			height: 100%;
			top: 0px;
			margin-top:0px;
			text-align: center;
			overflow: hidden;
			.solid-link;
        	font-family: FontAwesome;
        	z-index: 1010;
        	&:after{
				height: 100%;
				position: relative;
				top: 50%;        		
        	}
			&.fp-next{
				border-width: 0px ;
				right: 0px!important;
				&:after{
					content: "\f061";
				}
			}
			&.fp-prev{
				border-width: 0px!important;
				left: 0px;
				&:after{
					content: "\f060";
				}
			}
        	@media @phoneTablet {
        		display: none!important;
        		&:after{
					position: static;
				}
				&.fp-next{
					right: 0px;
				}
				&.fp-prev{
					left: 0px;
				}
        	}
		}
/*IMAGES*/
	img{
		max-width: 100%;
	}
	.icon{
		width: @font-s;
	}
	/*imagepop*/
		.no_bg{
			.imagepop{	
				background: none!important;
				border-color: transparent;
			}
		}
		.imagepop{
			.transition(@fadeSpeed);
			background: @gray;
			display: inline-block;
			position: relative;
			max-width: 80%;
			margin: 0 auto;
			padding: @padSM;
			border-color: transparent;
			border: 4px solid;
			color: transparent!important;
			text-decoration: none!important;

			float: right;
			margin-right: @marginLG;
			@media @phoneTablet{
				float: none;
				margin-right: auto;
			}	
			img{
				max-width: 100%;
				display: block;
			}
			&:before{
				content: "";
				.black-overlay;
				position: absolute;
				display: block;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				.opacity(0);
			}
			&:after{
				content: "\f002";
				font-family: FontAwesome;
				font-size: @font-l;
				color: @white;
				position: absolute;
				display: block;
				top: 50%;
				left: 0;
				width: 100%;
				height: 50%;
				.opacity(0);
			}				
			&:hover {
				border-color: @link-color-hover;
				&:before{
					.transition(@fadeSpeed);
					.opacity(1);
				}			
				&:after{
					.transition(@fadeSpeed);
					.opacity(1);
				}			
			}
			&.bg{
				background: @gray!important;
			}
			&.no_bg{
				background: none;
			}
			@media @phone{
				padding:@padXS;
			}
		}
	/*popup*/
		.mfp-bg{
			.opacity(0.9);
		}
		.mfp-figure:after{
			box-shadow: none;
			background: none;
		}
		.mfp-counter{
			color: @gray-med;
			position: absolute;
			top: auto;
			bottom: 0;
		}
		.mfp-close{
			position: fixed;
			right: 0px;
			top: 0px;
		}
		.mfp-title{
			.sans-bold;
			padding-left: @padSM;
			padding-right: 45px;
			color: @white;
			font-size: @font-base;
			line-height: @font-base*1.2;
		}
		.mfp-bottom-bar{
			position: fixed;
			bottom: 0px;
			margin-top:0px;
			top: auto!important;
		}
		.mfp-counter{
			right: 10px;
			.sans-bold();
		}
		figcaption{
			position: fixed;
			bottom: 0px;
			left: 0px;
			width: 100%;
		}
/*IE*/
	.ie6 body {
		display: none;
	}
	.ie7 body {
		display: none;
	}
/*LANDSCAPE*/
	.landscape{
		@media @phoneTablet {
			h1{
				text-align: left;
			}
			h3{
				text-align: center;
				margin-bottom: 0px;
			}			
			.half{
				width: 50%!important;
				&:first-child{
					.imagepop{
						float: right!important;
						margin-top: -@marginSM;
					}
				}
			}	
			#fp-nav{
				li{
					width: 33%;
				}
			}
			.section{
				&:nth-child(1){
					.imagepop{
						float: none!important;
					}
				}
			}	
			.section-header{
				font-size: @font-s;
				line-height: @font-s;
			}
			hr{
				display: none;
			}	
			/*.imagepop{
				float: right!important;
				margin-top: @marginXS;
			}*/
			/*.max-half{
				float: right!important;
			}*/
			.menu_visible{
				width: 90%;
			}
			.mobile_menu_toggle{
				font-size: @font-s;
				line-height: @font-s;
				width: @font-s;
				height: @font-s;
			}																		
		}
	}
	.landscape.page_menu_visible{
		@media @phoneTablet {
			width: 90%!important;
			li{
				float: left!important;
				margin: @marginSM 0 0 0 !important;
				width: 33.33%!important;
			}			
		}
	}
/*LINKS*/
	a {
		color: @link-color;
		text-decoration: none;
		.transition(@fadeSpeed);
		&:hover {
			color: @link-text-color-hover;
		}
		&:visited {
			color: @link-color;
		}
	}
	/*solid link*/
		.solid-link{
			.transition(@fadeSpeed);
			background: @link-color;
			color: @solid-link-text;
			text-decoration: none;
			text-align: center;
	      	display: inline-block;
			float: left;
			cursor: pointer;
			span{
				color: @solid-link-text;
			}
			&:visited{
				color: @solid-link-text;
				span{
					color: @solid-link-text;
				}
			}
			&:hover{
				background: @link-color-hover;
				color: @solid-link-text;
				span{
					color: @solid-link-text;
				}
			}
			&.active {
				background: @link-color-active;
				color: @solid-link-text-hover;
				cursor: default;
				span{
					color: @solid-link-text-hover;
				}
			}
		}
	/*outline-link*/
		.outline-link{
			.transition(@fadeSpeed);
			.sans-bold;
			border:2px solid @link-color;
			font-size: @font-base;
			padding: @padSM;
			margin: @marginXS;
			cursor: pointer;
			color: @link-color;
			display: inline-block;
			&:hover{
				color: @link-color-hover;
				border: 2px solid @link-color-hover;
			}
		}
	/*slides-list*/ 
		.slides-list{
			list-style: none;
			text-align: center;
			font-size: 0;
			li{
				display: inline-block;
				float: left;
				margin: 0px;
				span{
					margin: 0 @marginMD @marginMD 0;
				}
				@media @phoneTablet{
					float:none;
				}
			}
		}
		.slide-link{
			.solid-link;
			padding: @padSM;
			margin: @marginSM;
			@media @phone{
				margin:@marginXS;
				padding:@padXS;
			}
		}
	/*external*/
		.external_link{
			border:2px solid @link-color;
			padding: @padSM;
			width: auto;
			display: inline-block;
			margin: @marginXS;
			clear: both;
			float: left;
		}
		.external_link:hover{
			border:2px solid @gray;
		}
/*LISTS*/	
	.list_unstyled {
		.opacity(0);
		float: left;
		width: 100%;
		list-style: none;
	}
	ul {
		list-style-type: square;
		/*margin-left: @marginSM;
		padding: 0px;
		margin-top: @marginSM; */
		margin:0;
		padding: 0;
	}
	li {
		font-size: @font-base;
		text-align: left;
		margin: 0px; 
		@media @phone{
			font-size: @font-xs;
		}
	}
	.list{
		margin-left: @marginLG;
	}
/*LOADING*/
	.loading{
		margin: 0 auto;
		.opacity(1);
		text-align: center;
		h4{
			color: @gray;
			text-align: center;
			border:0px;
			margin: @marginLG auto;
		}
	}
/*MENU*/
	/*main menu*/
		.menu-item {
			.solid-link;
			.sans-bold;
			clear: both;
			width: 100%;
			font-size: @font-base;
			letter-spacing: -1px;
			text-transform: uppercase;
			padding: @padLG 0px;
			&:visited {
				color: @solid-link-text;
			}
			@media @phone{
				padding: @padSM 0px;	
			}
		}
		.menu-item-sub{
			display: none;
			&.active{
				display: block;
			}
		}
	/*menu wrap*/
		.menu_wrap{
			background-color: @blue-base;
			position: fixed;
			left: 0;
			top: 0;
			z-index: 1000;
			width: 10%;
			height: 100%;
			.transition(@fadeSpeed);
			overflow: hidden;	
			@media @phoneTablet {
				width: 0px;				
			}
		}
	/*toggle*/
		.fullpage_covered{
			.opacity(0.2);
		}
		.mobile_menu_toggle {
			display: none;
			@media @phoneTablet {
				.solid-link;
				height: @sectionHeader;
				position: fixed;
				top: 0px;
				padding: 0 @padSM;
				right: 0;
				display: block;
				cursor: pointer;
				z-index: 1030;
				&:hover{
					background: @link-color-hover;
					color: @link-text-color-hover;					
				}
				.fa{
					width: 100%;
					text-align: center;
					line-height: @sectionHeader;
				}				
			}
		}
		.menu_visible{
			@media @phoneTablet {
				border-right: 5px solid @link-color;
				visibility: visible;
				width: 70%;
				.menu-item{
					width: 100%;
				}				
			}
		}
/*MISC*/
	.black-overlay{
		background: rgba(0,0,0,0.6);
	}
	.always_hide{
		display: none;
	}
	.clearfix{
		clear: both;
	}
	.scroll-to{
		position:absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		text-align: center;
		a{
			color: @link-color;
			font-size: @font-xl;
			cursor: pointer;
			&:hover{
				color:@link-color-hover;
			}
		}
		&.bounce{
			.opacity(1)!important;
			.animation-duration(1s);
			.animation-name(bounce);			
		}
	}
	.hidden{
		display: none;
	}
/*PAGES*/
	/*About*/
		.about{
			@media @phoneTablet{
				h4{
					text-align: left;
				}
			}
		}
		.intro{			
			background: left center/cover no-repeat fixed url(/img/jl.jpg);
			h1{
				font-size: 15vh;
				line-height: 15vh;
			}
			h2{
				font-size: 10vh;
				line-height: 10vh;
			}
			h4{
				font-size: 5vh;
				line-height: 5vh;
			}
			ul{
				list-style: none;
			}
			&:before{
				.transition(2s);
				.black-overlay;
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				content: "";
				.opacity(0);
			}
			&.overlaid{
				&:before{
					.opacity(1);
				}
				.overlay{
					.opacity(1);
				}
			}
		}
		.overlay{
			.transition(@fadeSpeed);
			.opacity(0);
			.txt-dark-bg;
			position: absolute;
			top: @sectionHeader;
			right: @marginLG;
			h1,h2,h3,h4,p{
				text-align: right!important;
			}
		}
		/*education*/
			.institution{
				text-align: right;
				margin: 0 @marginLG;
				@media @phoneTablet{
					text-align: left;
					margin:0;
				}
			}
			.education{
				background-image: url(/img/texas.png);
				background-size: auto 80%;
				background-position: bottom left;
				background-repeat: no-repeat;
			}
		/*employment*/
			.employment{
				h3{
					text-align: left;
					margin-top:@marginMD;
					@media @desktop{
						margin-top: 0px;
						margin-right: @marginSM;
						text-align: right;
					}
				}
				h4{
					margin-left: @marginSM;
				}
				p{
					margin-left: @marginSM;
					margin-top:0px;
					margin-bottom:0px;
				}
				.half:nth-child(odd){
					position: relative;
					padding-left: @borderSM;
					margin-left: -@borderSM;
					padding-bottom: @padLG;
					@media @phoneTablet{
						padding-bottom: @padXS;
					}
					&:before{
						content: '';
						border-left:@borderSM solid @gray;
						position: absolute;
						height: 100%;
						width: 100%;
						left: 0;
						top: 0;
						@media @phoneTablet{
							border-top:@borderSM solid @gray;
						}
					}
					
				}
			}
		/*flips*/
			.flips{
				.perspective(800);
				a,div{
					@media @phoneTablet{
						width: 100px;
						height: 40px;
					}
					width:200px;
					height:80px;							
				}	
				.flip{
					.transform-style(preserve-3d);
					position: relative;
					.outline-link;
					@media @phone{
						font-size: @font-xs;
					}
					&:nth-child(1){
						.front{
							background-position: 0 0;
						}
					}
					&:nth-child(2){
						.front{
							background-position: 25% 0;
						}
					}
					&:nth-child(3){
						.front{
							background-position: 50% 0;
						}
					}
					&:nth-child(4){
						.front{
							background-position: 75% 0;
						}
					}
					&:nth-child(5){
						.flip-front{
							background-position: 100% 0;
						}
					}
					.front,.back{
						position: absolute;
						-webkit-backface-visibility: hidden;
						-mox-backface-visibility: hidden;
						backface-visibility: hidden;
						z-index: 2;					
					}
					.back{
						background: url(/img/line.png);
						@media @phoneTablet{
							background-size:16px;
						}
						background-size:40px;							
					}
					.front{
						display: flex;
						flex-direction:column;
						justify-content:center;
						background-repeat: no-repeat;
						background-size: auto 100%;	
						.transform(rotatex(-180deg));		
					}
				}
			}		
			.flip-back{
				.transform(rotatex(-180deg));
				.transition(0.5s)!important;
			}		
			.flip-back-twice{
				.transform(rotatex(-540deg));
				.transition(1s)!important;
			}	
			.flip-forward{
				.transform(rotatex(180deg));
				.transition(0.5s)!important;
			}	
			.flip-forward-twice{
				.transform(rotatex(540deg));
				.transition(1s)!important;
			}		
		/*sprites*/
			#flips-experience{
					.front{
						background-image: url(/img/logos/experience.png);	
					}
					a{
						&:hover{
							.front{
								.transition(@fadeSpeed);
								background-image: url(/img/logos/experience_hover.png);		
							}
						}							
					}
			}
			#flips-api{
					.front{
						background-image: url(/img/logos/api.png);	
					}
					a{
						&:hover{
							.front{
								.transition(@fadeSpeed);
								background-image: url(/img/logos/api_hover.png);		
							}
						}							
					}
			}
	/*Home*/
		.home-box{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			img{
				display: block;
				margin:0 auto;
			}
		}
/*THUMBNAIL*/
	.thumbnail{
		width: 33.333%;
		display: inline-block;
		clear: none;
		float: left;
		a{
			.solid-link;
			margin:@marginSM;
			font-size: @font-s;
			padding: @padLG;
			float: none;
			width: auto;
			img{
				margin:0 auto;
				display: block;
				max-width: 80%;
			}			
		}

		@media @phoneTablet{
			&:nth-child(odd){
				a{
					float: left;
				}
			}	
			a{
				float: right;
				margin:@marginXS;
				font-size: @font-base;
				padding: @padSM;			
			}

			width: 50%
		}
	}
/* ---------- MOBILE ---------- */
@media @phoneTablet {

/*FULL PAGE*/
	/*fp-nav*/
		/*hover*/
			.fp-section-title.left{
				z-index: 0;
			}
}

