@import url("colors.less");
@import url("mixin.less");
@import url("type.less");
@import url("variables.less");

.menu-open{
	.container{
		left:  @mobileMenuWidth;
		.opacity(0.5);
	}
	.menu-wrap{
		left: 0;
		visibility: visible;
		width: @mobileMenuWidth;
	}
}

/*
 MENU
*/
.menu-item{
	clear: both;
	display: block;
	font-weight: bold;
	max-width: 100%;
	overflow: hidden;
	padding: @padSM;
	text-align: right;
	text-overflow: ellipsis;
	text-transform: uppercase;
	white-space: nowrap;
  .sans;
  .hover-text();
	&:hover, &:focus {
		color: @linkColorHover;
	}
	span{
		display: inline-block;
		width: 100%;
	}
}
#home-menu{
	.menu-item{
		font-size: @fontBase;
	}
}
#menu{
	display: block;
	float: left;
	margin-bottom: @marginLG;
	.menu-item{
		color: @menuLink;
		font-size: @fontXS;
		@media @minDesktopS {
			font-size: @fontBase;
		}
	}
}
#home-menu, #menu{
	list-style: none;
	width: 100%;
	li{
		float: left;
		margin: 0;
		overflow: hidden;
		padding: 0;
		width: 100%;
		&.active{
			a{
				border-color: @activeMenuColor;
				color: @activeMenuColor;
			}
		}
	}
}
#home-menu{
	.menu-item{
		border-bottom: @borderSM solid @menuLink;
		border-right: 0!important;
		color: @menuLink;
		cursor: pointer;
		padding: @padMD @padSM;
		.sans-bold;
		.transition(@fadeSpeed);

		&:hover{
			border-color: @linkColorHover;
			color: @linkColorHover;
		}
	}
}
.menu-wrap{
	background-color: @blueBase;
	border-right: @borderSM solid @activeMenuColor;
	height: 100%;
	left: -@borderSM;
	overflow-x: hidden;
	overflow-y: scroll;
	position: fixed;
	top: 0;
	.transition(@fadeSpeed);
	width: @pageMargin;
	z-index: 1001;
	@media @phoneTablet {
		width: 0px;
	}
	@media @desktop {
		width: @pageMarginLG;
	}
}

/*
	MOBILE
*/
@media @phoneTablet {
	#home-menu{
		padding-top: @mobileMenu;
	}
	.mobile-menu-toggle {
		background-color: transparent!important;
		border: 0;
		color: @linkColor;
		cursor: pointer;
		height: @mobileMenu;
		float: right;
		font-size: @mobileMenu/2;
		line-height: @mobileMenu;
		padding: 0;
		width: @mobileMenu;

		.hover-text();
		.fa{
			line-height: @padXL;
			text-align: center;
			width: 100%;
		}
	}
}
