@import url("colors.less");
@import url("mixin.less");
@import url("type.less");
@import url("variables.less");

.menu-open{
	.container{
		left:  @mobileMenuWidth;
		.opacity(0.5);
	}
	.menu-wrap{
		left: 0;
		visibility: visible;
		width: @mobileMenuWidth;
		.menu-item{
			width: 100%;
		}
	}
}

/*
 MENU
*/
.menu-item{
	clear: both;
	display: block;
	float: right;
	font-size: @fontXS;
	font-weight: bold;
	overflow: hidden;
	padding: @padSM 0;
	text-align: left;
	text-overflow: ellipsis;
	text-transform: none;
	white-space: nowrap;
}
#home-menu{
	.menu-item{
		font-size: @fontBase;
	}
}
#menu{
	display: block;
	float: left;
	margin-bottom: @marginLG;
	.menu-item{
		font-size: @fontXS;
	}
}
#home-menu, #menu{
	list-style: none;
	width: 100%;
	li{
		float: left;
		margin: 0;
		overflow: hidden;
		padding: 0;
		width: 100%;
		&.active{
			a{
				border-color: @activeMenuColor;
				color: @activeMenuColor;
			}
		}
	}
}
#home-menu{
	.menu-item{
		border-bottom: @borderSM solid @linkColor;
		border-right: 0!important;
		color: @linkColor;
		cursor: pointer;
		display: inline-block;
		margin: 0 0 @marginSM 0;
		padding: @padMD 0 @padMD @padMD;
		.sans-bold;
		.transition(@fadeSpeed);
		width: 100%;

		&:hover{
			border-color: @linkColorHover;
			color: @linkColorHover;
		}

		span{
			float: right;
		}
	}
}
.menu-item{
	.sans;
	a{
		text-align: left;
	}
	span{
		padding: @padSM;
	}
}
.menu-wrap{
	background-color: @blueBase;
	border-right: @borderSM solid @activeMenuColor;
	height: 100%;
	left: -@borderSM;
	overflow-x: hidden;
	overflow-y: scroll;
	position: fixed;
	top: 0;
	.transition(@fadeSpeed);
	width: 10%;
	z-index: 1000;
	@media @phoneTablet {
		width: 0px;
	}
}

/*
	MOBILE
*/
@media @phoneTablet {
	#home-menu{
		padding-top: @mobileMenu;
	}
	.mobile-menu-toggle {
		cursor: pointer;
		height: @mobileMenu;
		float: right;
		font-size: @mobileMenu/2;
		line-height: @mobileMenu;
		padding: 0;
		width: @mobileMenu;

		&:hover{
			color: @linkTextColorHover;
			background: @linkColorHover;
		}
		.fa{
			line-height: @padXL;
			text-align: center;
			width: 100%;
		}
	}
}
