
<template name="about">
	<div class="about">
		<div section="about" class="section" tooltip="Jessica">
			<h1 itemprop="name">Jessica Lawshe</h1>
			<div class="span_half">
				<h3>Passion for learning<br>new web technologies</h3>
				<p class="about_intro">{{>about_intro}}</p>
				<span class="always_hide" itemprop="organization">Landes Bioscience</span>
			</div>
			<div class="span_half">
				<a class="imagepop" rel="gallery" href="/img/cayman.png" title="Cayman">
					<img id="first_image" alt="Cayman" src="/img/cayman.png" >
				</a>
			</div>
			<p class="mobile_about_intro">{{>about_intro}}</p>
		</div>
		<div section="web" class="section" tooltip="Web Skills">
			<div class="section_header">Web Skills</div>
			<div class="slide">
					<div class="skills">
						<div class="skill-box">MySQL</div>
						<div class="skill-box">MongoDB</div>
					</div>
					<div class="skills">
						<div class="skill-box">HTML</div>
						<div class="skill-box">CSS</div>
						<div class="skill-box">Less</div>
						<div class="skill-box">JSON</div>
						<div class="skill-box">XML</div>
						<div class="skill-box">PHP</div>
						<div class="skill-box">JavaScript</div>
					</div>
					<div class="skills">
						<div class="skill-box">Meteor.js</div>
						<div class="skill-box">Dust.js</div>
					</div>
			</div>
			<div class="slide">
				<div class="span_half"><h3>API</h3></div>
				<div class="span_half">
					<a href="https://developers.facebook.com/" class="logo" target="_BLANK"><img src="img/logos/facebook.png" alt="Facebook API"></a>
					<a href="http://www.authorize.net/" class="logo" target="_BLANK"><img src="img/logos/authorize.png" alt="Authorize.net API"></a>
					<a href="https://dev.twitter.com/" class="logo" target="_BLANK"><img src="img/logos/twitter.png" alt="Twitter API"></a>
					<a href="http://www.ncbi.nlm.nih.gov/pmc/" class="logo" target="_BLANK"><img src="img/logos/pubmed.png" alt="PubMed API"></a>
					<a href="http://search.crossref.org/help/api" class="logo" target="_BLANK"><img src="img/logos/crossref.png" alt="CrossRef API"></a>
				</div>
			</div>
			<div class="slide">
				<div class="span_half"><h3>Experience</h3></div>
				<div class="span_half">
					<a href="https://github.com/" class="logo" target="_BLANK"><img src="img/logos/github.png" alt="GitHub"></a>
					<a href="http://aws.amazon.com/" class="logo" target="_BLANK"><img src="img/logos/aws.png" alt="AWS"></a>
					<a href="https://www.meteor.com/" class="logo" target="_BLANK"><img src="img/logos/meteor.png" alt="Meteor.js"></a>
					<a href="http://mailchimp.com/" class="logo" target="_BLANK"><img src="img/logos/mailchimp.png" class="logo" alt="MailChimp"></a>
					<a href="http://www.google.com/analytics/" class="logo" target="_BLANK"><img src="img/logos/google_analytics.png" alt="Google Analytics"></a>
				</div>
			</div>
			<div class="slide">
				<div class="span_half">
					<h3>Libraries & Templating</h3>
				</div>
				<div class="span_half">
					<a href="http://jquery.com/" target="_BLANK" class="outline-link">jQuery</a>
					<a href="http://grafico.kilianvalkhof.com/" target="_BLANK" class="outline-link">Grafico.js</a>
					<a href="http://akdubya.github.io/dustjs/" target="_BLANK" class="outline-link">Dust.js</a>
					<a href="http://getbootstrap.com/" target="_BLANK" class="outline-link">Twitter Bootstrap</a>
				</div>
			</div>
			<div class="slide">
				<div class="half">
					<h3>UX & UI Design</h3>
				</div>
				<div class="half">
					<h4>The process</h4>
					<p>My approach is to begin with the user goals. Then I create sitemaps with the paths of least resistance to obtain those goals. Mockups are created by hand, Photoshop & in the browser. I'll often switch between these methods throughout design & development in order to ensure a clean & accessible application. I also use several tools to test platform compatibility.</p>
				</div>
			</div>
		</div>
		<div section="education" class="section" tooltip="Education">
			<div class="section_header">Education</div>
			<div class="half">
				<h3>Biochemistry B.S. Honors</h3>
			</div>
			<div class="half">
				<h4 class="institution" itemprop="alumni">The University of Texas</h4>
				<p>
					2010<br>
					Publication in the <a href="http://www.jbc.org/content/285/30/22840.long" target="_BLANK">Journal of Biological Chemistry</a>
				</p>
			</div>
			<hr>
			<div class="half">
				<h3>Spanish B.A.</h3>
			</div>
			<div class="half">
				<h4 class="institution" itemprop="alumni">The University of Texas</h4>
				<p>
					2010<br>
					Study abroad in Córdoba, Argentina
				</p>
			</div>
		</div>
		<div section="employment" class="section" tooltip="Employment">
			<div class="section_header">Employment</div>
			<div class="slide">
				<div class="half"><h3>Designer & Developer</h3></div>
				<div class="half">
					<h4 class="institution" itemprop="name">Landes Bioscience</h4>
					<p>2012 &mdash; present</p>
				</div>
				<hr>
				<div class="half"><h3>Lab Manager & Research Scientist</h3></div>
				<div class="half">
					<h4 class="institution" itemprop="name">The University of Texas</h4>
					<p>Institute for Cellular and Molecular Biology
						<br>2011 &mdash; 2013</p>
				</div>
			</div>
			<div class="slide">
				<div class="half"><h3>Chemistry Specialist</h3></div>
				<div class="half">
					<h4 class="institution" itemprop="name">The University of Texas</h4>
					<p>Introductory Chemistry Lab
						<br>2011</p>
				</div>
				<hr>
				<div class="half"><h3>Research Assistant</h3></div>
				<div class="half">
					<h4 class="institution" itemprop="name">The University of Texas</h4>
					<p>Waggoner Center for Alcohol and Addiction Research
						<br>2009 &mdash; 2010</p>
				</div>
			</div>
			<div class="slide">
				<div class="half"><h3>Teaching Assistant</h3></div>
				<div class="half">
					<h4 class="institution" itemprop="name">The University of Texas</h4>
					<p>Introductory Chemistry
						<br>2009 &mdash; 2010</p>
				</div>
				<hr>
				<div class="half"><h3>Research Assistant</h3></div>
				<div class="half">
					<h4 class="institution" itemprop="name">The University of Texas</h4>
					<p>Department of Chemistry and Biochemistry
						<br>2006 &mdash; 2008</p>
				</div>
			</div>
		</div>
		<div section="contact" class="section" tooltip="Contact">
			<span class="always_hide" itemprop="name">Jessica Lawshe</span>
			{{>footer}}
		</div>
	</div>
</template>
<template name="about_intro">
</template>