
<template name="about">
	<div class="subpage about">
		<div section="about" class="section intro" section-title="Jessica">
			<div class="overlay">
				<h1>Jessica Lawshe</h1>
				<h2>Designer & Developer</h2>
				<h4>Passion for learning new web technologies</h4>
			</div>
			{{>scrollTo}}
		</div>
		<div class="section" section="languages" section-title="Languages">
			<div class="section-header">Languages</div>
			<h4 class="web-languages"></h4>
			{{>scrollTo}}
		</div>
		<div class="section" section="api" section-title="API">
			<div class="section-header">API</div>
			<div id="flips-api" class="flips">
				<a href="https://developers.facebook.com/" target="_BLANK" class="flip">
					<div class="front"></div>
					<div class="back"></div>
				</a>
				<a href="http://www.authorize.net/" target="_BLANK" class="flip">
					<div class="front"></div>
					<div class="back"></div>
				</a>
				<a href="https://dev.twitter.com/" target="_BLANK" class="flip">
					<div class="front"></div>
					<div class="back"></div>
				</a>
				<a href="http://www.ncbi.nlm.nih.gov/pmc/" target="_BLANK" class="flip">
					<div class="front"></div>
					<div class="back"></div>
				</a>
				<a href="http://search.crossref.org/help/api" target="_BLANK" class="flip">
					<div class="front"></div>
					<div class="back"></div>
				</a>
			</div>
			{{>scrollTo}}
		</div>
		<div class="section" section="experience" section-title="Experience">
			<div class="section-header">Experience</div>
			<div id="flips-experience" class="flips">
				<a href="https://github.com/" target="_BLANK" class="flip">
					<div class="front"></div>
					<div class="back"></div>
				</a>
				<a href="http://aws.amazon.com/" target="_BLANK" class="flip">
					<div class="front"></div>
					<div class="back"></div>
				</a>
				<a href="https://www.meteor.com/" target="_BLANK" class="flip">
					<div class="front"></div>
					<div class="back"></div>
				</a>
				<a href="http://mailchimp.com/" target="_BLANK" class="flip">
					<div class="front"></div>
					<div class="back"></div>
				</a>
				<a href="http://www.google.com/analytics/" target="_BLANK" class="flip">
					<div class="front"></div>
					<div class="back"></div>
				</a>
			</div>
			{{>scrollTo}}
		</div>
		<div class="section" section="server" section-title="Server-Side">
			<div class="section-header">Server-Side</div>
			<div id="flips-server" class="flips">
				<a href="https://nodejs.org/" target="_BLANK" class="flip">
					<div class="front">Node.js</div>
					<div class="back"></div>
				</a>
				<a href="http://www.mongodb.org/" target="_BLANK" class="flip">
					<div class="front">MongoDB</div>
					<div class="back"></div>
				</a>
				<a href="http://www.mysql.com/" target="_BLANK" class="flip">
					<div class="front">MySQL</div>
					<div class="back"></div>
				</a>
			</div>
			{{>scrollTo}}
		</div>
		<div class="section" section="lib" section-title="Libraries">
			<div class="section-header">Libraries</div>
			<div  id="flips-lib" class="flips">
				<a href="http://jquery.com/" target="_BLANK" class="flip">
					<div class="front">jQuery</div>
					<div class="back"></div>
				</a>
				<a href="http://grafico.kilianvalkhof.com/" target="_BLANK" class="flip">
					<div class="front">Grafico.js</div>
					<div class="back"></div>
				</a>
				<a href="http://getbootstrap.com/" target="_BLANK" class="flip">
					<div class="front">Bootstrap</div>
					<div class="back"></div>
				</a>
				<a href="http://summernote.org/" target="_BLANK" class="flip">
					<div class="front">Summernote</div>
					<div class="back"></div>
				</a>
				<a href="http://summernote.org/" target="_BLANK" class="flip">
					<div class="front">Modernizr</div>
					<div class="back"></div>
				</a>
			</div>
			{{>scrollTo}}
		</div>
		<div class="section education" section="education" section-title="Education">
			<div class="section-header">Education</div>
			<div class="half">
				<h3 class="institution" itemprop="alumni">The University of Texas<br>2010</h3>
			</div>
			<div class="half">
				<h4>Biochemistry B.S. Honors</h4>
				<p>Publication in the <a href="http://www.jbc.org/content/285/30/22840.long" target="_BLANK">Journal of Biological Chemistry</a></p>
				<h4>Spanish B.A.</h4>
				<p>Study abroad in Córdoba, Argentina</p>
			</div>
			{{>scrollTo}}
		</div>
		<div class="section employment" section="employment" section-title="Employment">
			<div class="section-header">Employment</div>
			<div class="half">
				<h3>Designer & Developer</h3>
			</div>
			<div class="half">
				<h4 itemprop="name">Landes Bioscience</h4>
				<p>2012 &mdash; 2014</p>
			</div>

			<div class="half">
				<h3>Lab Manager & Research Scientist</h3>
			</div>
			<div class="half">
				<h4 itemprop="name">The University of Texas</h4>
				<p>Institute for Cellular and Molecular Biology<br>2011 &mdash; 2013</p>
			</div>
			{{>scrollTo}}
		</div>
		<div section="contact" class="section" section-title="Contact">
			<span class="always_hide" itemprop="name">Jessica Lawshe</span>
			<div class="footer">{{>footer}}</div>
		</div>
	</div>
</template>