<template name="scrollTo">
	<div class="scroll-to"><a class="scroll-btn">&#9660;</a></div>
</template>
<template name="footer">
	<div class="footer">
		<h3>Contact</h3>
		<span class="hidden" itemprop="name">Jessica Lawshe</span>
		<span class="hidden" itemprop="jobTitle">Designer &<br>Developer</span>
		<ul class="thumbnails">
			<li class="thumbnail">
				<a itemprop="url" href="https://www.linkedin.com/in/lawshe" target="_BLANK">
					<span><i class="fa fa-linkedin-square"></i><br>LinkedIn</span>
				</a>
			</li>
			<li class="thumbnail">
				<a itemprop="url" href="https://github.com/lawshe" target="_BLANK">
					<span><i class="fa fa-github"></i><br>GitHub</span>
				</a>			
			</li>
			<li class="thumbnail">
				<a itemprop="email" class="email">
					moc [ dot ] ehswalj [ at ] acissej
				</a>				
			</li>
		</ul>
	</div>
</template>
