<template name="workExImg">
	{{#if imgSize}}
	<a class="imagepop {{imageClasses}}" href="{{imagePath}}" data-title="{{title}}">
		<img alt="{{title}}" data-src="{{imagePath}}" class="work-ex">
	</a>
	{{/if}}
</template>

<template name="scrollTo">
	<div class="scroll-to"><a class="scroll-btn"><i class="fa fa-chevron-down" alt="to next section"></i></a></div>
</template>

<template name="footer">
	<div data-anchor="contact" class="section" data-title="Contact">
		<h2>Contact</h2>
		<div class="footer">
			<span class="hidden" itemprop="name">Jessica Lawshe</span>
			<span class="hidden" itemprop="jobTitle">Designer &amp;<br>Developer</span>
			<ul class="thumbnails">
				<li class="thumbnail">
					<a itemprop="url" href="https://www.linkedin.com/in/lawshe" target="_BLANK" class="btn-link" id="link-linkedin" rel="noopener">
						<i class="fa fa-linkedin-square" alt="LinkedIn"></i><br>LinkedIn
					</a>
				</li>
				<li class="thumbnail">
					<a itemprop="url" href="https://github.com/lawshe" target="_BLANK" class="btn-link" id="link-github" rel="noopener">
						<i class="fa fa-github" alt="GitHub"></i><br>GitHub
					</a>
				</li>
			</ul>
			<ul class="thumbnails">
				<li class="thumbnail">
					<a itemprop="email" class="email" alt="email link">
					</a>
				</li>
			</ul>
			<ul class="thumbnails">
				<li class="thumbnail">
					<a href="/resume/jessica_lawshe.pdf" target="_blank" class="btn-link" id="link-resume" rel="noopener" alt="resume link">
						<i class="fa fa-download" aria-hidden="true"></i><br/>Resume
					</a>
				</li>
			</ul>
		</div>
	</div>
</template>
