<template name="scrollTo">
	<div class="scroll-to"><a class="scroll-btn"><i class="fa fa-chevron-down"></i></a></div>
</template>

<template name="footer">
	<div data-anchor="contact" class="section" data-title="Contact">
		<h2>Contact</h2>
		<div class="footer">
			<span class="hidden" itemprop="name">Jessica Lawshe</span>
			<span class="hidden" itemprop="jobTitle">Designer &<br>Developer</span>
			<ul class="thumbnails">
				<li class="thumbnail">
					<a itemprop="url" href="https://www.linkedin.com/in/lawshe" target="_BLANK">
						<span><i class="fa fa-linkedin-square"></i><br>LinkedIn</span>
					</a>
				</li>
				<li class="thumbnail">
					<a itemprop="url" href="https://github.com/lawshe" target="_BLANK">
						<span><i class="fa fa-github"></i><br>GitHub</span>
					</a>
				</li>
				<li class="thumbnail">
					<a itemprop="email" class="email">
					</a>
				</li>
			</ul>
		</div>
	</div>
</template>
