
<head>
	<link rel="shortcut icon" href="/img/favicon.ico" />
	<link rel="icon" type="image/ico" href="/img/favicon.ico" />
	<link rel="apple-touch-icon" href="/img/apple_icon.png" />
	<link rel="apple-touch-startup-image" href="/img/loading.gif" />
	<link rel="manifest" href="/jl_manifest.json" />
	<meta name="author" content="Jessica Lawshe" />
	<meta name="copyright" content="Jessica Lawshe" />
	<meta name="description" content="Freelance designer & developer based in Austin, Texas." />
	<meta name="viewport" content="width=device-width,maximum-scale=1,initial-scale=1,maximum-scale=1,minimal-ui" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="mobile-web-app-capable" content="yes" />
	<meta name="twitter:card" content="gallery" />
	<meta name="twitter:site" content="@lawsheee" />
	<meta name="twitter:creator" content="@lawsheee" />
	<meta name="twitter:title" content="Jessica Lawshe">
	<meta name="twitter:description" content="Freelance designer & developer based in Austin, Texas.">
	<meta name="twitter:url" content="http://www.jlawshe.com" />
	<meta name="twitter:image0" content="http://jlawshe.com/img/jl/jl-192.png" />
</head>

<template name="layout">
	{{>menu}}
	<div class="container" itemscope itemtype="http://schema.org/Person">
		{{>fullpage}}
	</div>
</template>

<template name="loading">
	<div class="loading">
		<h4>Loading</h4>
		<img src="/img/loading.gif" alt="loading" id="loading">
	</div>
</template>

<template name="fullpage">
	<div id="fullpage">
		{{>yield}}
	</div>
</template>

<template name="menu">
	<div class="toggle-container">
		<a class="mobile-menu-toggle" href="" alt="mobile menu toggle"><i class="fa fa-list"></i></a>
	</div>
	<div class="menu-wrap">
		<ul id="home-menu">
			<li class="{{isActiveRoute regex='home' className='active'}}">
				<a href="{{pathFor 'home'}}" class="menu-item home-link"><span>JL</span></a>
			</li>
		</ul>
		<ul id="menu"></ul>
	</div>
</template>

<template name="notFound">
	<div class="section">
		<div class="page-header">
			<div class="half">
				<h1>Page Not found</h1>
			</div>
			<div class="half">
				<h2>404<br>Error</h2>
			</div>
		</div>
	</div>
</template>
