<head>
	<title>JLawshe</title>

	<link rel="shortcut icon" href="/img/favicon.ico" />
	<link rel="icon" type="image/ico" href="/img/favicon.ico" />
	<link rel="apple-touch-icon" href="/img/apple_icon.png" />
	<link rel="apple-touch-startup-image" href="/img/loading.gif">

	<meta name="author" content="Jessica Lawshe" />
	<meta name="copyright" content="Jessica Lawshe" />
	<meta name="fragment" content="!">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="viewport" content="width=device-width,maximum-scale=1,initial-scale=1,maximum-scale=1, user-scalable=0,minimal-ui">

	<meta name="google-site-verification" content="XSNWe4l7zkJKwzqq69K1P5KiEunoGbnctXcav7rhH9g" />
	<!--Twitter-->
	<meta name="twitter:card" content="gallery" />
	<meta name="twitter:site" content="@lawsheee" />
	<meta name="twitter:creator" content="@lawsheee" />
	<meta name="twitter:title" content="Jessica Lawshe">
	<meta name="twitter:description" content="Portfolio of a designer & developer.">
	<meta name="twitter:url" content="http://www.jlawshe.com" />
	<meta name="twitter:image0" content="http://jlawshe.com/img/work/landes/cart/1.png">
	<meta name="twitter:image1" content="http://jlawshe.com/img/work/bpb/home.png">
	<meta name="twitter:image2" content="http://jlawshe.com/img/work/bpb/cms_login.png">
	<meta name="twitter:image3" content="http://jlawshe.com/img/work/landes/iphone_tweet.png">
</head>

<template name="layout">
	<div class="container">
		{{>menu}}
		<div class="header"></div>
		{{>fullpage}}
	</div>
</template>

<template name="loading">
	<div class="loading">
		<h4>Loading</h4>
		<img src="/img/loading.gif" alt="loading" id="loading">
	</div>
</template>

<template name="fullpage">
	<div id="fullpage">
		{{>yield}}
	</div>
</template>

<template name="menu">
	<div class="menu_wrap">
		<div id="main_menu">
			<a href="{{pathFor 'home'}}" class="menu-item {{ isActiveRoute regex='home'}}">JL</a>
			<a href="{{pathFor 'about'}}" class="menu-item {{ isActiveRoute regex='about'}}">About</a>
			<a  href="{{pathFor 'work'}}" class="menu-item {{ isActiveRoute regex='work'}}" id="menu-item-work">Work</a>
			<a  href="{{pathFor 'bim'}}" class="menu-item menu-item-sub  {{ isActiveRoute regex='bim'}}">Coming Soon</a>
			<a  href="{{pathFor 'bpb'}}" class="menu-item menu-item-sub  {{ isActiveRoute regex='bpb'}}">The Bipolar Bears</a>
			<a  href="{{pathFor 'landes'}}" class="menu-item menu-item-sub  {{ isActiveRoute regex='landes'}}">Landes</a>
		</div>
	</div>
	<a class="mobile_menu_toggle" href=""><i class="fa fa-list"></i></a>
</template>
<template name="home">
	<div class="subpage home">
		<div section="home" class="section">
			<div class="half">
				<h1>Jessica Lawshe</h1>
				<h4>I'm a freelance Web Designer & Developer</h4>
				<p>Need a website built? Please send me an email!</p>
			</div>
			<div class="half">
				<div class="footer">{{>footer}}</div>
			</div>
		</div>
		<div class="section">
			{{>selectedWork}}
		</div>
	</div>
</template>
<template name="notFound">
	<div class="section">
		<h2>404!</h2>
		<h1>Page Not found</h1>
		<h2><i class="fa fa-binoculars"></i></h2>
		{{>selectedWork}}
	</div>
</template>