<template name="work">
	<div class="subpage work">
		<div data-anchor="work" data-title="Work" class="section">
			<div class="page-header">
				<div class="half">
					<h1>Selected Work</h1>
				</div>
				<div class="half">
					<h2>Front & back end development of websites</h2>
				</div>
			</div>
			{{>selectedWork}}
		</div>
		<div data-anchor="more" data-title="More" class="section">
			{{>footer}}
		</div>		
	</div>
</template>

<template name="clientPage">
	<div class="subpage {{anchor}}">
		{{>pageHeader}}
		{{#each projects}}
			{{>clientSection}}
		{{/each}}	
		{{>moreWork}}
	</div>	
</template>

<template name="clientSection">
	<div class="section" data-anchor="{{anchor}}" data-title="{{sectionHeader}}">
		<div class="section-header"><h2>{{sectionHeader}}</h2></div>
		{{#each sections}}
			<div class="subproject">
				<h3>{{headerThree}}</h3>
				<div class="half">
					{{#each images}}
						<div class="image-project {{imageClasses}}">
							<a class="imagepop" rel="gallery" href="{{imagePath}}" data-title="{{title}}">
								<img class="" src="{{imagePath}}" alt="{{title}}">
							</a>	
						</div>
					{{/each}}							
				</div>
				<div class="half">
					<h4>{{headerFour}}</h4>
					{{#if txt}}<p>{{{txt}}}</p>{{/if}}
				</div>			
			</div>
		{{/each}}
	</div>
</template>

<template name="selectedWork">
	<ul class="thumbnails-clients">
		{{#each clients}}
			<li class="thumbnail">
				<a href="/work/{{slug}}">
					<img src="/img/work/{{slug}}/{{imgSize}}/{{image}}" alt="{{name}}">
					<span>{{{name}}}</span>
				</a>
			</li>	
		{{/each}}		
	</ul>
</template>

<template name="moreWork">
	<div data-anchor="more" data-title="More" class="section">
		<h3>More Work</h3>
		<ul class="thumbnails-clients">
			{{#each work}}
				<li class="thumbnail">
					<a href="/work/{{slug}}">
						<img alt="{{name}}" src="/img/work/{{slug}}/{{imgSize}}/{{image}}">
						<span>{{name}}</span>
					</a>	
				</li>			
			{{/each}}				
		</ul>		
		{{>footer}}	
	</div>		
</template>