<template name="work">
  <div class="subpage work">
    <div data-anchor="intro" data-title="Work" class="section">
      <div class="page-header">
        <div class="half">
          <h1>Selected Work</h1>
        </div>
        <div class="half">
          <h3>Examples of<br/>development & designs</h3>
        </div>
      </div>
      {{>scrollTo}}
    </div>
    <div data-anchor="examples" class="section" data-title="Examples">
      {{#each examples}}
        <div class="subproject">
          <div class="half">
            {{#with image}}
            <a class="imagepop {{imageClasses}}" href="{{imagePath}}" data-title="{{title}}">
              <img alt="{{title}}" src="{{imagePath}}">
            </a>
            {{/with}}
          </div>
          <div class="half">
            <h4>{{{title}}}</h4>
            {{#if subheader}}<h5>{{{subheader}}}</h5>{{/if}}
            <p>{{{desc}}}</p>
          </div>
        </div>
      {{/each}}
    </div>
		{{>footer}}
  </div>
</template>
